@plugin '@tailwindcss/typography';
@import 'tailwindcss';

@theme {
	--font-gothic: 'GothicOne', sans-serif;
	--font-nikkyou: 'Nikkyou', sans-serif;
	--font-zcool: 'ZCOOL', sans-serif;
	--font-jua: 'Jua', sans-serif;
	--color-text: #1B2A42;
	--color-primary: #AFF23B;
	--color-secondary: #70FFFF;
	--color-accent-red: #F96891;
	--color-accent-purple: #C57FFE;
	--color-light: #ECFCFF;
	--color-bg: #DBC2FD;
	--tw-prose-headings: var(--color-text);
}

@layer utilities {
	.prose {}
}

@font-face {
	src: url('/fonts/DelaGothicOne-Regular.ttf');
	font-family: 'GothicOne';
}

@font-face {
	src: url('/fonts/NikkyouSans-B6aV.ttf');
	font-family: 'Nikkyou';
}

@font-face {
	src: url('/fonts/ZCOOLKuaiLe-Regular.ttf');
	font-family: 'ZCOOL';
}

@font-face {
	src: url('/fonts/Jua-Regular.ttf');
	font-family: 'Jua';
}

html {
	background-color: var(--color-bg);
}